@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "niveau-grotesk", sans-serif;

  /* Colors */
  --color-cream: #f2ece5;

  --color-primary: #1b1513;
  --color-secondary: #3b322c;

  --color-gold: #cca47e;

  --color-dark: #232323;

  --color-muted: #837d7b;
  --color-gray: #808080;
  --color-light-gray: #999999;

  /* Animations */
  --animate-slide-in: slideIn .7s ease forwards;
  --animate-slide-up: slideUp .7s ease forwards;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@layer components {

  .footer-column {
    @apply flex w-full flex-col gap-4 px-8 md:w-1/2 lg:w-1/5;
  }

  .footer-line {
    @apply relative;
  }

  .footer-line::after {
    content: "";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-60%);
    width: 0.01rem;
    height: 11rem;
    background-color: #3f3d3d;
    pointer-events: none;
  }

  .decor-line {
    @apply relative pl-4;
  }

  .decor-line::before {
    content: "";
    @apply absolute block left-0;
    top: 50%;
    width: 9px;
    height: 2px;
    background-color: rgb(184, 139, 95);
    transform: translateY(-50%);
  }

}